@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
:root{
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	size: 10px;
}
.body{
	max-width: 192rem;
	background-color: #ECECEC;
	padding: 0;
	margin: 0 auto;
}
.navbar navbar-expand-lg bg-light{
	background-color: #FFFFFF;
	border-bottom: .3rem #ECECEC;
	height: 10rem;
}
.container-fluid{	
	align-items: center;
	width: 63.4%;
}
.d-flex{
	border-color: #A1A1A1;
	border: .2rem;
	max-width: 25%;
	min-width: 4rem;
	border-radius: .5rem;
	margin-right: 30%;
	margin-left: 8%;
}
.city{	
	color: #A1A1A1;
	font-size: 1.6rem;
	font-weight: 500;
}
.green{
	background-color: #00D008;
	margin-right: 5%;
}
.orange{
	background-color: #EF781A;
}
.orange, .green{
	border: none;
	border-radius: .5rem;
	font-weight: 700;
	font-size: 1.6rem;
	color: #FFFFFF;
}
.navbar-brand{
	height: 80%;
	padding-top: 0;
	padding-bottom: 0;
}
.mac{
	font-weight: 800;
	font-size: 3.6rem;
	color: black;
	padding-left: 18.3%;
	padding-top: 7.6rem;
	background-color: #FFFFFF;
	height: 15rem;
	border-bottom: .5rem rgba(0, 0, 0, 0.25);
	position: sticky;
	top: 0;
	z-index: 2;
	box-shadow: 0 4px 0 #00000025;
}
.flex{
	display: flexbox;
	
}
.menu{
	width: 50%;
	padding-left: 18.3%;
	margin-top: 3.1rem;
	margin-bottom: 3.1rem;
	position: relative;
	
}
.menu-list{	
	font-weight: 500;
	font-size: 1.8rem;
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding-left: 0;
	
}
.menu-list a{
	text-decoration: none;
	color: #343434;
}
.menu-item:hover{
	color: #343434;
	background-color: #C4C4C4;
	border-radius: 1rem;
	padding: .6rem .8rem;
}
.order{
	width: 18%;
	height: 30rem;
	background-color: #FFFFFF;
	border-radius: .5rem;
	margin-left: 62%;
	position: absolute;
	margin-top: -5rem;
	box-shadow: 0 4px 4px #00000025;
}
h2{
	font-size: 1.8rem;
	font-weight: 500;
	color: #000000;
	margin-top: 2.5rem;
	padding-left: 10%;
	margin-bottom: 2.5rem;
}
.h3{
	font-size: 1.4rem;
	font-weight: 500;
	margin-top: 4rem;
	padding-left: 10%;
	padding-bottom: 30rem;
}
.order ul{
	padding-left: 10%;
	word-spacing: nowrap;
	padding-bottom: 2rem;
}
.order-item{
	color: #979797;
	font-size: 1.2rem;
	font-weight: 500;
	padding-left: 0;
}
.order li{	
	list-style-position: inside;
}
.plus-minus{
	background-color: #FF6C01;
	border-radius: 5rem;
	width: 2.8rem;
	display: inline-block;
	text-align: center;
}
.plus-minus, .amount{
	font-size: 1.8rem;
	font-weight: 500;
	margin-left: 3%;
	color: #FFFFFF;
}
.amount{
	color: #000000;
}
.cost1{
	font-size: 1.4rem;
	font-weight: 500;
	margin-left: 5%;
}
.cost2{
	font-size: 1.4rem;
	font-weight: 500;
	margin-left: 45%;
}
.summa{
	background-color: #FF6C01;
	width: 90%;
	border-radius: 1rem;
	height: 6.2rem;
	margin: 2rem auto;
	font-size: 1.8rem;
	font-weight: 700;
	color: #FFFFFF;
	padding-left: 5%;
	padding-top: 1.25rem;	
}
.to-order{
    margin-right: 38%;
}
h1{
	color: #000000;
	font-weight: 700;
	font-size: 2.4rem;
	padding-left: 18.3%;
	margin-bottom: 3.5rem;
}
section{
	display: flex;
	padding-left: 18.3%;
	width: 60%;
	justify-content: space-between;
	margin-bottom: 2.5rem;
}
.card{
	width: 30%;
	height: 27.5rem;
	box-shadow: 0 4px 4px #00000025;
}
.card-body{
	padding-left: 2.1rem;
}
.card-title{
	font-weight: 500;
	font-size: 1.8rem;
	color: #000000;
	line-height: 2.2rem;	
	margin-top: 1rem;
}
.card-text{
	font-weight: 500;
	font-size: 1rem;
	color: #A1A1A1;
	line-height: 1.2rem;
	margin-bottom: 10%;	
}
.item1,.item2,.item3{
	margin-right: 30%;	
	display: inline-block;
}
.item1::before {
	content: "80 грн.";
	background-color: white;	
	border: none;
	font-weight: 500;
	font-size: 1.8rem;
}
  
.item1:hover::before {
	content: "В кошик";
	background-color: #FF6C01;
	padding: 1rem 1rem;
	border: none;
	border-radius: 1rem;
	font-size: 1.2rem;
	font-weight: 700;
	color: white;
}
.item2::before {
	content: "110 грн.";
	background-color: white;	
	border: none;
	font-weight: 500;
	font-size: 1.8rem;
}
  
.item2:hover::before {
	content: "В кошик";
	background-color: #FF6C01;
	padding: 1rem 1rem;
	border: none;
	border-radius: 1rem;
	font-size: 1.2rem;
	font-weight: 700;
	color: white;
}
.item3::before {
	content: "120 грн.";
	background-color: white;	
	border: none;
	font-weight: 500;
	font-size: 1.8rem;
}  
.item3:hover::before {
	content: "В кошик";
	background-color: #FF6C01;
	padding: 1rem 1rem;
	border: none;
	border-radius: 1rem;
	font-size: 1.2rem;
	font-weight: 700;
	color: white;
}
.card-body:hover img{
	background-color: #69A042;
}
.contact{
	width: 42%;
	height: 30.5rem;
	background-color: #FFFFFF;
	border-radius: 1rem;
	box-shadow: 0 4px 4px #00000025;
	margin-left: 18.3%;
	padding-left: 3rem;
	margin-bottom: 6.8rem;
}
h4{
	color: #999999;
	font-size: 1.4rem;
	font-weight: 500;
	padding-top: 1.5rem;
}
h4:nth-child(1){
	padding-top: 3rem;
}
.contact span{
	color: #000000;
	font-size: 1.6rem;
	font-weight: 500;
}
.arrow{
	margin-left: 18.3%;
	width: 8rem;
	height: 8rem;
	background-color: white;
	border-radius: 5rem;
	box-shadow: 0 0 4px #00000025;
	margin-bottom: 6.8rem;
	display: flex;
	justify-content: center;	
	align-items: center;
}
.arrow img{
	width: 30%;
	height: 30%;	
}
footer{
	background-color: #000000;
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 10rem;
	align-items: center;
}
.about{
	display: flex;
	justify-content: space-between;
	width: 15%;
}
.about a{
	text-decoration: none;
	font-size: 1.8rem;
	color: #FFFFFF;
	font-weight: 500;
}
.social-network{
	display: flex;
	justify-content: space-around;
	width: 10%;	
}

.telegramm,.facebook,.instagram{
	width: 4rem;
	height: 4rem;
	background-color: #2F89CE;
	border-radius: 5rem;
	display: flex;
	justify-content: center;	
	align-items: center;
}
.telegramm img,.facebook img,.instagram img{
	width: 60%;
	height: 60%;	
}
.facebook{	
	background-color: #4E6297;	
}
.instagram{
	background: linear-gradient(#EEA054, #D64763, #B62A99)
}
